@import './theme.scss';

.app {
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: $sizeMd1;
  background-color: $colorGrey;
  color: $colorText;
  letter-spacing: 0.1rem;
  .title {
    margin: 1rem 0;
    h1 {
      font-size: $sizeLg1;
      @include --viewportMd {
        font-size: $sizeLg2;
      }
      font-weight: bold;
    }
  }
  .session_break {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    @include --viewportMd {
      width: 60%;
    }
    .session {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      background-color: #fff;
      border-radius: 1rem;
      .session-label {
        h3 {
          font-size: $sizeMd1;
          font-weight: bold;
        }
      }
      .timer-setting {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        button {
          padding: 1rem;
          border-style: none;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #565360;
          &:hover {
            background-color: $colorAccent;
            color: #fff;
          }
        }
        .session-length {
          margin: 0 0.5rem;
          font-size: $sizeLg1;
        }
      }
    }
    .break {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      .break-label {
        h3 {
          font-size: $sizeMd1;
          font-weight: bold;
        }
      }
      .timer-setting {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;

        button {
          padding: 1rem;
          width: 1rem;
          height: 1rem;
          border-style: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #565360;

          &:hover {
            background-color: $colorAccent;
            color: #fff;
          }
        }
        .break-length {
          margin: 0 0.5rem;
          font-size: $sizeLg1;
        }
      }
    }
  }

  .timer {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    @include --viewportMd {
      width: 60%;
    }
    padding: 4rem 0;
    margin: 1rem;
    background-color: #fff;
    border-radius: 5rem;
    .timer-label {
      h2 {
        font-size: $sizeLg1;
        font-weight: bold;
      }
    }
    .time-left {
      margin: 1rem;
      font-size: $sizeLg3;
      font-weight: normal;
    }
    button {
      box-sizing: border-box;
      &.start_stop {
        padding: 0.5rem 2rem;
        margin: 0.25rem;
        font-size: $sizeMd2;
        font-weight: bold;
        letter-spacing: 0.2rem;
        background-color: lighten($colorAccent, 5%);
        color: #fff;
        border-style: none;
        border-radius: 1rem;
      }
      &.reset {
        margin-top: 2rem;
        font-weight: bold;
        border-radius: 0.5rem;
      }
    }
  }
}
