// Main Colors
$colorPrimary: #8739f9;
$colorAccent: #37b9f1;
$colorGrey: #f2f5f5;
// Font Colors
$colorText: #565360;
$colorLabel: #908e9b;
$colorDisabled: #e1dfe9;
// Small Lengths
$sizeSm1: 0.25rem;
$sizeSm2: 0.5rem;
$sizeSm3: 0.75rem;
$sizeMd1: 1rem;
$sizeMd2: 1.25rem;
$sizeMd3: 1.5rem;
$sizeLg1: 2rem;
$sizeLg2: 3rem;
$sizeLg3: 4rem;
